version: '3.9'
services:
  mongo:
    image: mongo:7.0.14
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER:-workpro_root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS:-change-me}
      - MONGO_INITDB_DATABASE=${MONGO_DB:-workpro}
      - MONGO_APP_USER=${MONGO_APP_USER:-workpro_app}
      - MONGO_APP_PASS=${MONGO_APP_PASS:-change-me}
      - MONGO_DB=${MONGO_DB:-workpro}
    volumes:
      - mongo-data:/data/db
      - ./docker/mongo-init/01-create-app-user.js:/docker-entrypoint-initdb.d/01-create-app-user.js:ro
      - ./docker/mongo/tls:/etc/mongo/tls:ro
    command:
      [
        "mongod",
        "--auth",
        "--tlsMode",
        "requireTLS",
        "--tlsCertificateKeyFile",
        "/etc/mongo/tls/tls.pem",
        "--tlsCAFile",
        "/etc/mongo/tls/ca.crt"
      ]

  backend:
    build: ./backend
    ports:
      - "5010:5010"
    environment:
      - MONGO_URI=mongodb://${MONGO_APP_USER:-workpro_app}:${MONGO_APP_PASS:-change-me}@mongo:27017/${MONGO_DB:-workpro}?authSource=${MONGO_AUTH_DB:-workpro}&tls=true&tlsCAFile=/etc/mongo/tls/ca.crt
      - JWT_SECRET=${JWT_SECRET}
      - CORS_ORIGIN=http://localhost:5173
    depends_on:
      - mongo
    volumes:
      - ./docker/mongo/tls/ca.crt:/etc/mongo/tls/ca.crt:ro

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data:
